.custom_modal {
    border-radius: 15px !important;
    width: 100% !important;
}

.custom_input {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}